@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration-line: none !important;
}
h5 {
  padding: 10px 0px;
}
.picture {
  height: 150px;
}
.Table {
  margin-top: 2em;
  margin-bottom: 2em;
}
.Table tbody tr,
.Table thead th,
.Table tbody td {
  vertical-align: middle;
  text-align: center;
}
.About {
  text-align: left;
}
.me {
  margin-top: 1em;
}
.Title {
  margin: 0;
  display: inline;
  padding-inline: 5px 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #42a5f5 50%);
}
.Emoji {
  padding-right: 15px;
}
.row {
  padding-top: 10em;
  margin-bottom: 20px;
}
.record {
  margin-top: 3em;
  margin-bottom: 3em;
}
.App {
  text-align: center;
  font-family: 'SUIT-Regular';
  margin-bottom: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
